section {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 25% 1fr;
  grid-template-rows: 20vh 30vh 30vh 20vh;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div5 {
  grid-area: 4 / 1 / 4 / 4;
  height: 90%;
  width: 95%;
  margin: auto;
  margin-left: 1rem;
  th {
    white-space: nowrap;
    width: 13%;
    font-size: 1rem;
    font-weight: 500;
    text-align: end;
    padding: 0;
    margin: 0;
    padding-right: 0.5rem;
  }

  td {
    min-width: 42px;
    min-height: 22px;
    max-width: 82px;
    max-width: 42px;
    font-weight: 800;
    color: black;
    text-align: center;
    font-size: 2rem;
    p {
      font-size: 1.2rem;
      position: absolute;
      margin-left: 1rem;
    }
  }
  .horas {
    color: white;
  }
}

.div1 {
  grid-area: 2 / 1 / 4 / 4;
  height: 100%;
  width: 95%;
  margin-top: 0.5rem;
  margin-left: 1rem;
  th {
    white-space: nowrap;
    width: 13%;
    font-size: 1rem;
    font-weight: 500;
    text-align: end;
    padding: 0;
    margin: 0;
    padding-right: 0.5rem;
  }

  td {
    padding: 0;
    min-width: 42px;
    min-height: 22px;
    max-width: 72px;
    max-height: 32px;
    width: 60px;
    font-weight: 700;
    color: black;
    text-align: center;
    font-size: 1.5rem;
  }
}
.div2 {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  align-items: flex-end;
  text-align: center;
  justify-content: center;
  height: 100%;
  div {
    flex: 1;
    margin: 0 5px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
    button {
      font-size: 1.3rem;
      font-weight: 400;
    }
  }
}
.div3 {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  h1:nth-child(1) {
    font-size: 3rem;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h1:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #00ff00;
    width: 90%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: black;
    font-weight: 800;
    span {
      font-size: 1.3rem;
      margin: 0;
      text-transform: uppercase;
    }
  }
}
.div4 {
  grid-area: 1 / 3 / 2 / 4;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  div {
    flex: 1;
    margin: 0 5px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
  }
}

.value {
  font-weight: 700;
  padding: 1rem 0;
  font-size: 1.8rem;
}

.text_black {
  color: black;
}

.button {
  border: none;
  background-color: transparent;
  color: white;
}

mat-spinner {
  margin: auto;
}

.text-vermelho {
  color: red;
}

.text-verde {
  color: #00ff00;
}

.unica-1 {
  position: relative; /* Necessário para que a sombra fique dentro do elemento */
}

.unica-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 10px; /* Define a espessura do traço */
  background-color: yellow; /* Define a cor do traço */
}
.unica-2 {
  position: relative; /* Necessário para que a sombra fique dentro do elemento */
}

.unica-2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 10px; /* Define a espessura do traço */
  background-color: rgb(132, 0, 255); /* Define a cor do traço */
}
.unica-3 {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
    height: 10px; /* Define a espessura do traço */
    background-color: rgba(190, 115, 17, 0.884);
  }
}
.unica-4 {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
    height: 10px; /* Define a espessura do traço */
    background-color: rgb(255, 196, 0);
  }
}
.unica-5 {
  position: relative;
  &::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 10px; /* Define a espessura do traço */
  background-color: rgb(147, 30, 177);
  }
}
.unica-6 {
  position: relative;
  &::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 10px; /* Define a espessura do traço */
  background-color:  rgb(255, 255, 255);
  }
  }
.unica-7 {
  position: relative;
  &::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 10px; /* Define a espessura do traço */
  background-color: rgba(229, 129, 238, 0.884);
  }
  }
.unica-8 {
  position: relative;
  &::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 10px; /* Define a espessura do traço */
  background-color: rgba(207, 174, 82, 0.897);
  }
  }
