<!-- <button class="analiseButton" (click)="analise()">Analise</button> -->
<button class="ajuda" (click)="ajuda()" *ngIf="!onAnalise">ajuda</button>
<section (click)="enterFullscreen()"
      [ngClass]="{'animationBlue': azulStateCalled}"
      [ngClass]="{'animationRed': vermelhoStateCalled }">
    <div class="info">      
        <div>
            <h1>REALIZADO: {{count}}</h1> 
            <h1>OP: {{operation.name}} P </h1>
            <h1>REALIZADO HR: {{realizadoHoraAtual}}</h1>
        </div>
        <div> <h1 *ngIf="operation.name != '170' && operation.name != '160'  && operation.name != '180'  && operation.name != '190' && operation.name != '200' && operation.name != '210' && operation.name != '220' && operation.name != '230'" [ngStyle]="{
          'color': contador < lmitedTime ? '#00FF00':  (contador > lmitedTime ? '#ff0000' : 'red')
        }">TEMPO: {{contador}}s</h1>
      <h1 *ngIf="operation.name == '160' || operation.name == '170' || operation.name == '180' || operation.name == '190' || operation.name == '200' || operation.name == '210' || operation.name == '220' || operation.name == '230'" [ngStyle]="{
          'color': contador < 240 ? '#00FF00':  (contador > 240  ? '#ff0000' : 'red')
        }">TEMPO: {{contador}}s</h1>
        </div>
        
    </div>
    <div class="actions">
        <button (click)="toggleContagem('count')" *ngIf="stateButton == false">TERMINAR</button>
        <!-- <button *ngIf="loadingButton && stateButton" disabled="true">AGUARDE</button> -->
        <button (click)="toggleContagem('count')" *ngIf="stateButton && loadingButton == false"
      [disabled]="onPausa || onAnalise ||onAjuda">INICIAR</button>
        <button [disabled]="stateButton" (click)="toggleContagem('refuse')">REFUGO</button>
        <button (click)="openDialog()">TUTORIAL</button>
  </div>
        

    <table class="realizado" *ngIf="realizadoHora && operation.name == '160'|| operation.name == '170'|| operation.name == '180'|| operation.name == '190'|| operation.name == '200'|| operation.name == '210'|| operation.name == '220'|| operation.name == '230'" >
        <tr>
          <td class="horas">
            8
          </td>
          <td class="horas">
            9
          </td>
          <td class="horas">
            10
          </td>
    
          <td class="horas">
            11
          </td>
    
          <td class="horas">
            12
          </td>
    
          <td class="horas">
            13
          </td>
    
          <td class="horas">
            14
          </td>
    
          <td class="horas">
            15
          </td>
    
          <td class="horas">
            16
          </td>
    
          <td class="horas">
            17
          </td>
        </tr>
        <tr>
    
          <td class="valor" [ngStyle]="{
              'background-color': realizadoHora.horas7 >= ((minutos8 * (imposto / shiftTime / 60)) - 0.5) / 4   ? '#00FF00' : 'red'
            }">{{realizadoHora.horas7}}</td>
          <td class="valor" [ngStyle]="{
              'background-color': realizadoHora.horas8 >= ((minutos9 * (imposto / shiftTime / 60)) - 0.5) / 4   ? '#00FF00' : 'red'
            }">{{realizadoHora.horas8}}</td>
          <td class="valor" [ngStyle]="{
              'background-color': realizadoHora.horas9 >= ((minutos10 * (imposto / shiftTime / 60)) - 0.5) / 4  ? '#00FF00' : 'red'
            }">{{realizadoHora.horas9}}</td>
          <td class="valor" [ngStyle]="{
              'background-color': realizadoHora.horas10 >= ((minutos11 * (imposto / shiftTime / 60)) - 0.5) / 4  ? '#00FF00' : 'red'
            }">{{realizadoHora.horas10}}</td>
          <td class="valor" [ngStyle]="{
              'background-color': realizadoHora.horas11 >= ((minutos12 * (imposto / shiftTime / 60)) - 0.5) / 4  ? '#00FF00' : 'red'
            }">{{realizadoHora.horas11}}</td>
          <td class="valor" [ngStyle]="{
              'background-color': realizadoHora.horas12 >= ((minutos13 * (imposto / shiftTime / 60)) - 0.5) / 4  ? '#00FF00' : 'red'
            }">{{realizadoHora.horas12}}</td>
          <td class="valor" [ngStyle]="{
              'background-color': realizadoHora.horas13 >= ((minutos14 * (imposto / shiftTime / 60) - 0.5)) / 4   ? '#00FF00' : 'red'
            }">{{realizadoHora.horas13}}</td>
          <td class="valor" [ngStyle]="{
              'background-color': realizadoHora.horas14 >= ((minutos15 * (imposto / shiftTime / 60)) - 0.5) / 4  ? '#00FF00' : 'red'
            }">{{realizadoHora.horas14}}</td>
          <td class="valor" [ngStyle]="{
              'background-color': realizadoHora.horas15 >= ((minutos16 * (imposto / shiftTime / 60)) - 0.5) / 4  ? '#00FF00' : 'red'
            }">{{realizadoHora.horas15}}</td>
          <td class="valor" [ngStyle]="{
              'background-color': realizadoHora.horas16 >= ((minutos17 * (imposto / shiftTime / 60)) - 0.5) / 4  ? '#00FF00' : 'red'
            }">{{realizadoHora.horas16}}</td>
        </tr>
    </table>
    <table class="realizado" *ngIf="realizadoHora && operation.name == '060'||operation.name == '070' || operation.name == '080' || operation.name == '090' || operation.name == '100' || operation.name == '110'|| operation.name == '120'|| operation.name == '130'|| operation.name == '140'|| operation.name == '150'|| operation.name == '240'|| operation.name == '250'"   >
      <tr>
        <td class="horas">
          8
        </td>
        <td class="horas">
          9
        </td>
        <td class="horas">
          10
        </td>
  
        <td class="horas">
          11
        </td>
  
        <td class="horas">
          12
        </td>
  
        <td class="horas">
          13
        </td>
  
        <td class="horas">
          14
        </td>
  
        <td class="horas">
          15
        </td>
  
        <td class="horas">
          16
        </td>
  
        <td class="horas">
          17
        </td>
      </tr>
      <tr>
  
        <td class="valor" [ngStyle]="{
            'background-color': realizadoHora.horas7 >= ((minutos8 * (imposto / shiftTime / 60)) - 0.5) / 2  ? '#00FF00' : 'red'
          }">{{realizadoHora.horas7}}</td>
        <td class="valor" [ngStyle]="{
            'background-color': realizadoHora.horas8 >= ((minutos9 * (imposto / shiftTime / 60)) - 0.5) / 2  ? '#00FF00' : 'red'
          }">{{realizadoHora.horas8}}</td>
        <td class="valor" [ngStyle]="{
            'background-color': realizadoHora.horas9 >= ((minutos10 * (imposto / shiftTime / 60)) - 0.5) / 2  ? '#00FF00' : 'red'
          }">{{realizadoHora.horas9}}</td>
        <td class="valor" [ngStyle]="{
            'background-color': realizadoHora.horas10 >= ((minutos11 * (imposto / shiftTime / 60)) - 0.5) / 2  ? '#00FF00' : 'red'
          }">{{realizadoHora.horas10}}</td>
        <td class="valor" [ngStyle]="{
            'background-color': realizadoHora.horas11 >= ((minutos12 * (imposto / shiftTime / 60)) - 0.5) / 2  ? '#00FF00' : 'red'
          }">{{realizadoHora.horas11}}</td>
        <td class="valor" [ngStyle]="{
            'background-color': realizadoHora.horas12 >= ((minutos13 * (imposto / shiftTime / 60)) - 0.5) / 2 ? '#00FF00' : 'red'
          }">{{realizadoHora.horas12}}</td>
        <td class="valor" [ngStyle]="{
            'background-color': realizadoHora.horas13 >= ((minutos14 * (imposto / shiftTime / 60)) - 0.5) / 2 ? '#00FF00' : 'red'
          }">{{realizadoHora.horas13}}</td>
        <td class="valor" [ngStyle]="{
            'background-color': realizadoHora.horas14 >= ((minutos15 * (imposto / shiftTime / 60)) - 0.5) / 2 ? '#00FF00' : 'red'
          }">{{realizadoHora.horas14}}</td>
        <td class="valor" [ngStyle]="{
            'background-color': realizadoHora.horas15 >= ((minutos16 * (imposto / shiftTime / 60)) - 0.5) / 2? '#00FF00' : 'red'
          }">{{realizadoHora.horas15}}</td>
        <td class="valor" [ngStyle]="{
            'background-color': realizadoHora.horas16 >= ((minutos17 * (imposto / shiftTime / 60)) - 0.5) / 2 ? '#00FF00' : 'red'
          }">{{realizadoHora.horas16}}</td>
      </tr>
    </table>
    <!-- <div (click)="openDialog()" class="help">
        <h1><mat-icon>help_outline</mat-icon>TUTORIAL</h1>
    </div> -->

  </section >